In [1]:
# Data manipulation and visualization
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Clustering and distance metrics
from sklearn.cluster import KMeans
from scipy.spatial import distance

# Preprocessing
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Model evaluation
from sklearn.metrics import silhouette_score

# Pipeline and dimensionality reduction
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA

# Elbow method for KMeans
from yellowbrick.cluster import KElbowVisualizer

In [4]:
df = pd.read_csv('data-model').drop(columns=['Unnamed: 0'])

In [5]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Year,Month,...,Response,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,WebVsStorePurchases,Date,Customer_for,TotalSpent,Is_Parent
0,5524,1957,Graduation,Single,58138,0,0,2012-09-04,2012,9,...,1,8,10,4,7,2,2012-09-04,4500,1617,False
1,2174,1954,Graduation,Single,46344,1,1,2014-03-08,2014,3,...,0,1,1,2,5,0,2014-03-08,3950,27,True
2,4141,1965,Graduation,Together,71613,0,0,2013-08-21,2013,8,...,0,8,2,10,4,0,2013-08-21,4149,776,False
3,6182,1984,Graduation,Together,26646,1,0,2014-02-10,2014,2,...,0,2,0,4,6,0,2014-02-10,3976,53,True
4,5324,1981,PhD,Married,58293,1,0,2014-01-19,2014,1,...,0,5,3,6,5,0,2014-01-19,3998,422,True